/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2016, 2:53:11 PM
    Author     : Jasmine
*/

body{
  background-color: white;
  border: 2px darkblue solid;
  margin: auto;
  width: 600px;
}

header{
  color: darkblue;
  font-weight: bold;
  margin: 2.5em 2.5em .5em;
}

main{
  display: flex;
}

form{
  margin: auto;
  width: 75%;
}

label{
  display: inline-block;
  padding-right: .5em;
  order: 1;
  text-align: right;
}

input{
  display: inline-block;
  order: 2;
  width: 22em;
}

span{
  display: inline-block;
  order: 2;
  width: 22em;
}

form>p{
  text-align: right;
}

#submit{
  margin-bottom: 1em;
  margin-left: 11.5em;
  width: 10em;
}

footer{
  border-top: 2px darkblue solid;
  font-size: 1em;
}

footer>p{
  margin-left: 2.5em;
}

